<div class="exhibitor-list">
    <div class="exhibitor-navbar">
        <div class="am-margin-bottom">
            <jc-floor-dropdown floors="vm.floors" on-floor-change="vm.onFloorChange"/>
        </div>
        <div class="am-margin-bottom">
            <button class="btn btn-primary" ng-click="vm.createTreasureBeacon(vm.treasureBeacon)">保存</button>
            <a class="btn btn-primary" ui-sref="treasure-beacon-list">返回</a>
        </div>

        <div class="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">名称</label>
                <div class="col-sm-9">
                    <input class="form-control"ng-model="vm.treasureBeacon.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Major</label>
                <div class="col-sm-9">
                    <input class="form-control" ng-model="vm.treasureBeacon.major">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Minor</label>
                <div class="col-sm-9">
                    <input class="form-control" ng-model="vm.treasureBeacon.minor">
                </div>
            </div>
        </div>
    </div>
    <div class="exhibitor-map">
        <jc-emei-map floor="vm.floor" on-draw-end="vm.onDrawEnd"/>
    </div>
</div>
