<div class="col-md-12">
  <h1 class="page-header">寻宝活动配置 </h1>
</div>

<div class="col-md-12">
    <a class="btn btn-info" ui-sref="treasure_map_list">设置寻宝区</a>
</div>

<div class="col-md-12">
    <form class="form-horizontal" role="form" ng-submit="scope.setupGame(scope.game)">
        <h2 class="text-center">活动基本信息</h2>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动名称</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="scope.game.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动介绍</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="scope.game.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动开关</label>
            <div class="col-sm-6">
                <label class="toggle">
                    <input type="checkbox" ng-model="scope.game.offswitch">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">每日宝物总产出数量</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="scope.game.maxTreasure" />
                <span class="help-block">每日宝物产出的上限</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">每日寻宝游客数量</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="scope.game.maxTourist" />
                <span class="help-block">预计每天参与寻宝的游客数量</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">游客平均寻宝次数</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="scope.game.avgPlaying" />
                <span class="help-block">预计每一位参与寻宝的游客寻宝的次数</span>
            </div>
        </div>

        <div class="form-group hidden">
            <label class="col-sm-3 control-label">宝物产出率</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="scope.game.lucky" />
                <span class="help-block">无需输入百分号(%), 即30%只需要输入30</span>
                <span class="help-block">这个值表示一个用户一次挖宝获得宝物的概率，
                    实际产出的宝物数量计算公式为：宝物产出率 * 所有用户挖宝次数之和，
                    设置此概率时建议使用以下计算公式：
                    每日宝物最大总产出数量 ÷ (预估寻宝用户 × 预估每位用户寻宝次数) × 100%。</span>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
