node_modules
*.log
public/plugin
upload
config.json
pm2.json
.idea
dist/bundle.js
dist/bundle.js.map
dist/vendor.bundle.js
dist/vendor.bundle.js.map
dist/*.woff
dist/*.woff2
dist/*.svg
dist/*.ttf
dist/*.eot
