<div class="am-container exhibition-hall-setting" >
    <div class="am-g am-margin-bottom">
        <div class="am-u-sm-2">
           <a class="am-btn am-btn-primary" ui-sref="exhibition-hall-setting({ floor: '1F' })">1楼</a>
           <a class="am-btn am-btn-primary" ui-sref="exhibition-hall-setting({ floor: '2F' })">2楼</a>
           <a class="am-btn am-btn-primary" ui-sref="exhibition-hall-setting({ floor: '3F' })">3楼</a>
           <a class="am-btn am-btn-primary" ui-sref="exhibition-hall-setting({ floor: '4F' })">4楼</a>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form" ng-submit="vm.savePavilion(vm.pavilion)">
                <div class="am-form-group">
                    <label>正文内容</label>
                    <textarea placeholder="输入文字介绍" rows="12" ng-model="vm.pavilion.description"></textarea>
                </div>

                <div class="am-form-group">
                    <label>图片</label>
                    <div class="btn btn-primary am-margin-horizontal"
                        ngf-change="vm.uploadPicture($file)"
                        ngf-select ng-model="vm.pictureFile"
                        ngf-multiple="false" ngf-accept="'image/*'"
                        accept="image/*" ng-disabled="{{ vm.pavilion.pictures >= 0 }}"> 添加 </div>
                    <small class="text-danger">仅一张</small>
                </div>

                <div class="am-form-group" ng-repeat="picture in vm.pavilion.pictures">
                    <span class="am-icon-times img-close" ng-click="vm.removePicture($index)"></span>
                    <img class="am-thumbnail"  ngf-src="vm.pictureFile || {{ picture.fileUrl }}" />
                    <input ng-model="picture.description">
                </div>

                <div class="am-form-group am-text-right">
                    <button type="submit" class="am-btn am-btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>



</div>
