<!--主办方介绍 >> 主办商品列表-->

<div class="container-fluid exhibition-create">
    <div class="am-g">
        <div class="am-u-sm-6">
            <ol class="am-breadcrumb">
                <li>
                    <a class="am-icon-star" ui-sref="exhibition-list">展会活动列表</a>
                </li>
                <li class="  am-active">添加</li>
            </ol>
        </div>
        <div class="am-u-sm-2">
            <a class="am-btn am-btn-block am-btn-danger" ng-click="vm.createExhibition(vm.exhibition)">确定并推送</a>
        </div>
    </div>
    <hr>

    <form class="am-form am-form-horizontal">
        <div class="am-form-group">
            <label class="am-u-sm-offset-1 am-u-sm-2 am-form-label">活动时间</label>

            <div class="am-u-sm-4">
                <input ng-model="vm.exhibition.startAt" placeholder="请输入开始时间" type="text">
            </div>
            <div class="am-u-sm-1 text-center">
                <label class="am-form-label">至</label>
            </div>
            <div class="am-u-sm-4 am-u-end">
                <input ng-model="vm.exhibition.endAt" placeholder="请输入截止时间" type="text">
            </div>
        </div>

        <div class="am-form-group">
            <label class="am-u-sm-offset-1 am-u-sm-2 am-form-label">展会主题</label>
            <div class="am-u-sm-9 am-u-end">
                <input class="am-form-field"  placeholder="输入文字介绍" ng-model="vm.exhibition.subject" />
            </div>
        </div>
    </form>

    <form class="am-form">
        <div class="am-form-group">
            <label>展会内容</label>
            <textarea ng-model="vm.exhibition.content" placeholder="输入文字介绍" rows="12"></textarea>
        </div>
    </form>

</div>
