<div class="container-fluid feedback-list">
    <div class="row">
        <h1 class="page-header">反馈管理</h1>
    </div>

    <div class="row">
        <form class="form-horizontal">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label">状态</label>
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="scope.querystring.status" ng-change="scope.fetchFeedbacks(scope.querystring, 0)">
                            <option value="opening">未处理</option>
                            <option value="closed">已处理</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-4 control-label">分类</label>
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="scope.querystring.feedbackCategoryId" ng-options="data._id as data.name for data in scope.feedbackCategories" ng-change="scope.fetchFeedbacks(scope.querystring, 0)">
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>反馈摘要</th>
                <th>反馈分类</th>
                <th>联系方式</th>
                <th>反馈时间</th>
                <th> 操作 </th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <pagination total-items="scope.querystring.total"
                                ng-model="scope.querystring.page"
                                items-per-page="scope.querystring.pageSize"
                                max-size="7"
                                class="pagination-sm"
                                boundary-links="true"
                                direction-links="true"
                                ng-change="scope.paging()"
                            ></pagination>
                </td>
            </tr>
            </tfoot>

            <tbody>
            <tr ng-repeat='feedback in scope.feedbacks'>
                <td class="feedback-list-detail">{{ feedback.detail }}</td>
                <td>{{ feedback.feedbackCategory.name }}</td>
                <td>{{ feedback.contact}}</td>
                <td>{{ feedback.createdAt | date : 'yyyy-MM-dd HH:mm' }}</td>
                <td>
                    <a class="btn btn-info btn-xs" ui-sref="feedback_edit({ feedbackId: feedback._id })">查看详情</a>
                    <button class="btn btn-warning btn-xs" ng-click="scope.dealwithFeedback(feedback, $index)" ng-show="feedback.status === 'opening'">标记为已处理</button>
                    <span class="btn btn-info btn-xs" ng-show="feedback.status === 'closed'">已处理</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
