<div class="am-g">
    <ol class="am-breadcrumb ng-scope">
        <li><a  class="am-text-lg am-icon-star am-active">投诉建议</a></li>
    </ol>
    <hr>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover">
            <thead>
            <tr>
                <th class="table-check"><input type="checkbox"></th>
                <th class="table-id">用户ID</th>
                <th class="table-title">建议摘要</th>
                <th class=" am-hide-sm-only">日期</th>
                <th class=" am-hide-sm-only">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feedback in vm.feedbacks">
                <td><input type="checkbox" ng-checked="feedback._checked" ng-model="vm.feedbacks[$index]._checked"></td>
                <td>{{ ::feedback.user.username }}</td>
                <td>{{ ::feedback.content }}</td>
                <td class="am-hide-sm-only">{{ ::feedback.createdAt }}</td>

                <td>
                    <div class="am-btn-toolbar">
                        <button class="am-btn am-text-danger am-btn-xs" style="background:#fff">
                            <i class="am-icon-pencil-square-o"></i> 删除
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <button class="delete-btn am-btn am-btn-danger am-btn-sm" ng-click="vm.removeCheckedFeedbacks()">
                        <i class="am-icon-trash-o"></i> 删除
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
