
<div class="am-container suggest">

        <div class="am-g am-margin-vertical">
            <div class="am-u-sm-1">
                <input type="checkbox" ng-model="vm.feedbacks._checked" ng-change="vm.toggleCheckAll(vm.feedbacks._checked)"/>
            </div>
            <div class="am-u-sm-4">
                <drop-down title="操作" toggle="am-btn-danger" class="am-margin-left">
                    <button class="am-btn am-btn-block" ng-click="vm.removeCheckedFeedbacks()">删除</button>
                </drop-down>
            </div>
            <div class="am-u-sm-4">
                <input type="text" class="am-form-field"  ng-model="vm.query.subject"
                ng-change="vm.searchFeedbacks(vm.query)" placeholder="请输入用户名搜索帖子">
            </div>
        </div>

    <div class="am-g">
        <my-collapse class="am-panel-default" content="建议内容">
            <ul ng-repeat="feedback in vm.feedbacks track by feedback._id">
                <li><input type="checkbox" ng-model="vm.feedbacks[$index]._checked"/></li>
                <li>{{:: feedback.contact }}</li>
                <li>{{:: feedback.detail }}</li>
                <li>{{:: feedback.createdAt }}</li>
                <li class="am-icon-sort-desc"></li>
            </ul>
        </my-collapse>
    </div>

    <div class="">
        <pagination total-items="vm.query.total"
                    ng-model="vm.query.page"
                    items-per-page="vm.query.pageSize"
                    max-size="7"
                    class="pagination-sm"
                    boundary-links="true"
                    direction-links="true"
                    ng-change="vm.searchFeedbacks(vm.query, 0)"
        ></pagination>
    </div>
</div>
