<div class="pavilion-setting">
    <div class="">
        <a class="btn btn-primary" ui-sref="pavilion-map.treasure-area-batch">批量删除</a>
        <a class="btn btn-primary" ui-sref="pavilion-map.treasure-area-list.treasure-area-inline-create">新建寻宝区</a>
    </div>

    <div class="">
        <ui-view />
    </div>

    <div class="am-margin-top-sm">
        <ul class="am-list">
            <li ng-repeat="exhibitionArea in vm.exhibitionAreas track by exhibitionArea._id">
                <a
                ui-sref="pavilion-map.treasure-area-list.treasure-area-inline-edit({ exhibitionAreaId: exhibitionArea._id })">{{ ::exhibitionArea.name }}</a>
            </li>
        </ul>
    </div>

    <div class="">
        <pagination total-items="vm.query.total"
                    ng-model="vm.query.page"
                    items-per-page="vm.query.pageSize"
                    max-size="3"
                    class="pagination-sm"
                    boundary-links="true"
                    direction-links="true"
                    ng-change="vm.searchExhibitionAreas(vm.query, 0)"
        ></pagination>
    </div>
</div>
