<div class="col-sm-12">
    <form class="form-horizontal" ng-submit="vm.updateBeacon(vm.exhibitor)">
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="vm.exhibitor.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">位置</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="vm.exhibitor.geo">
            </div>
        </div>

        <a ui-sref="exhibitor-edit({ exhibitorId: vm.exhibitor._id })">信息详情</a>
        <a ui-sref="exhibit-list({ exhibitorId: vm.exhibitor._id })">展品详情</a>
    </form>
</div>
