<div class="am-container notification-list">
    <div class="am-g am-margin-bottom">
        <div class="am-u-sm-1 text-center">
            <input type="checkbox" ng-model="vm.notifications._checked" ng-click="vm.toggleCheckAll(vm.notifications._checked)"/>
        </div>
        <div class="am-u-sm-3">
            <drop-down title="操作" toggle="am-btn-danger" class="am-margin-left">
                <button class="am-btn am-btn-block" ng-click="vm.repushCheckedNotifications()">重新推送</button>
                <button class="am-btn am-btn-block" ng-click="vm.removeCheckedNofitications()">删除</button>
            </drop-down>
        </div>
        <div class="am-u-sm-2">
            <a class="am-btn am-btn-danger am-fr" ui-sref="notification-push">推送系统消息</a>
        </div>
    </div>

    <my-collapse class="am-panel-default">
        <ul ng-repeat="notification in vm.notifications">
            <li><input type="checkbox" ng-model="vm.notifications[$index]._checked"/></li>
            <li>{{ notification.subject }}</li>
            <li>{{ notification.content }}</li>
            <li>{{ notification.createdAt }}</li>
            <li>{{ notification.pushStatus }}</li>
            <li class="am-icon-sort-desc"></li>
        </ul>
    </my-collapse>

</div>
