<div class="am-container news">

    <ol class="am-breadcrumb">
        <li><a class="am-icon-star am-active">新闻管理</a></li>
    </ol>
    <hr>

    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover text-center">
                <thead>
                <tr>
                    <td></td>
                    <td>
                        <drop-down title="操作" toggle="am-btn-danger">
                            <button class="am-btn am-btn-block" ng-click="vm.stickyCheckedNews()">顶</button>
                            <button class="am-btn am-btn-block" ng-click="vm.showCheckedNews()">显示</button>
                            <button class="am-btn am-btn-block" ng-click="vm.hideCheckedNews()">隐藏</button>
                            <button class="am-btn am-btn-block" ng-click="vm.transferCheckedNewsToInfo()">移动到资讯</button>
                            <button class="am-btn am-btn-block" ng-click="vm.removeCheckedNews()">删除</button>
                        </drop-down>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="am-btn am-btn-secondary am-btn-block" ui-sref="news-create">添加新闻</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-check">
                        <input ng-checked="vm.newses.checked" ng-model="vm.newses.checked" ng-change="vm.toggleCheckAll(vm.newses.checked)" type="checkbox"></td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">新闻标题</button>
                    </td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">新闻摘要</button>
                    </td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">编辑时间</button>
                    </td>
                    <td>
                        <drop-down title="全部状态" toggle="am-btn-secondary">
                            <button class="am-btn am-btn-block">正在显示</button>
                            <button class="am-btn am-btn-block">正在隐藏</button>
                        </drop-down>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="news in vm.newses | orderBy: '-sticky' | orderBy: '-stickedAt'">
                    <td><input type="checkbox" ng-checked="news.checked" ng-model="news.checked"></td>
                    <td>{{news.subject}}</td>
                    <td>{{news.content}}</td>
                    <td>{{ news.stickedAt }}</td>
                    <!--<td>-->
                    <!--<a href="javascript:void(0)" ng-click="vm.showModal()">浏览</a>-->
                    <!--</td>-->
                    <!--<td class="am-hide-sm-only">2012-44-12</td>-->
                    <td>
                        <div class="am-btn-toolbar">
                            <button class="am-btn am-text-danger am-btn-default am-btn-xs" style="background:#fff">
                                <span ng-show="news.visible">正在显示</span>
                                <span ng-hide="news.visible">隐藏</span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <button class="am-btn am-text-warning am-btn-default am-btn-xs" style="background:#fff" ng-click="vm.stickyNews(news)">顶
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
