<form class="form-horizontal" ng-submit="vm.createBeacon(vm.beacon)">
    <div class="form-group">
        <label class="col-sm-3 control-label">名称</label>
        <div class="col-sm-9">
            <input class="form-control" ng-model="vm.beacon.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">位置</label>
        <div class="col-sm-9">
            <input class="form-control" ng-model="vm.beacon.geo">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">设施说明</label>
        <div class="col-sm-9">
            <input class="form-control" ng-model="vm.beacon.description">
        </div>
    </div>

    <div class="form-group">
        图片
        <img src="" alt="" />
        <button type="button" name="button">选择图片</button>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">创建</button>
        <a class="btn btn-info" ui-sref="exhibition-hall-map.exhibition-area-virtual.infrastructure-list">取消</a>
    </div>
</form>
