<div class="exhibition-hall-setting">
    <div>
        <ul class="am-list am-list-static">
            <li>
                <a ng-repeat="exhibitionArea in vm.exhibitionAreas track by exhibitionArea._id"
                ui-sref="exhibition-hall-map.exhibition-area-list.exhibition-area-inline-edit({ exhibitionAreaId: exhibitionArea._id })">{{ ::exhibitionArea.name }}</a>
            </li>
        </ul>
    </div>

    <div class="">
        <pagination total-items="vm.query.total"
                    ng-model="vm.query.page"
                    items-per-page="vm.query.pageSize"
                    max-size="3"
                    class="pagination-sm"
                    boundary-links="true"
                    direction-links="true"
                    ng-change="vm.searchExhibitionAreas(vm.query, 0)"
        ></pagination>
    </div>

    <div class="">
        <a ui-sref="exhibition-hall-map.exhibition-area-list.exhibition-area-inline-create">新建展区</a>
    </div>
    <ui-view />
</div>
