
<div class="am-margin-vertical-sm">
    <input type="checkbox" ng-model="vm.exhibitors._checked">
    <a class="btn btn-info" ui-sref="pavilion-map.exhibition-area-virtual.exhibitor-list">返回</a>
    <button class="btn btn-danger" type="button" ng-click="vm.removeSelectedExhibitors()">删除</button>
</div>


<ul class="am-list am-list-static">
    <li ng-repeat="exhibitor in vm.exhibitors track by exhibitor._id">
        <label>
            <input type="checkbox" ng-model="vm.exhibitors[$index]._checked">
            {{ exhibitor.title }}
        </label>
    </li>
</ul>

<div class="">
    <pagination total-items="vm.query.total"
                ng-model="vm.query.page"
                items-per-page="vm.query.pageSize"
                max-size="3"
                class="pagination-sm"
                boundary-links="true"
                direction-links="true"
                ng-change="vm.searchExhibitors(vm.query, 0)"
    ></pagination>
</div>

<a class="btn btn-primary" ui-sref="pavilion-map.exhibition-area-virtual.exhibitor-list.exhibitor-inline-create">新建</a>

<ui-view />
