<div class="am-margin-vertical">
    <a class="btn btn-primary" ui-sref="pavilion-map.exhibitor-batch">批量删除</a>
</div>

<div class="">
    <ui-view />
</div>

<div class="">
    <ul class="am-list">
        <li ng-repeat="exhibitor in vm.exhibitors track by exhibitor._id">
            <a ui-sref="pavilion-map.exhibitor-list.exhibitor-inline-edit({ exhibitorId: exhibitor._id })">{{ exhibitor.title }}</a>
        </li>
    </ul>
</div>

<div class="">
    <pagination total-items="vm.query.total"
                ng-model="vm.query.page"
                items-per-page="vm.query.pageSize"
                max-size="3"
                class="pagination-sm"
                boundary-links="true"
                direction-links="true"
                ng-change="vm.searchExhibitors(vm.query, 0)"
    ></pagination>
</div>

<!-- <a class="btn btn-primary" ui-sref="pavilion-map.exhibitor-list.exhibitor-inline-create">新建</a> -->
