.exhibitor-list {
  display: flex;
  height: 100%;

  .exhibitor-navbar {
    overflow: hidden;
    overflow-y: auto;
    flex: 300px 0 0;
    height: 100%;
    padding: 2rem;
  }

  .exhibitor-map {
    flex:1;
    height: 100%;
    overflow: hidden;
  }
}
