<div class="am-container exhibition-list">
    <div class="am-g am-margin-bottom">
        <div class="am-u-sm-1 text-center">
            <input type="checkbox" ng-model="vm.exhibitions._checked" ng-click="vm.toggleCheckAll(vm.exhibitions._checked)"/>
        </div>
        <div class="am-u-sm-3">
            <drop-down title="操作" toggle="am-btn-danger" class="am-margin-left">
                <!-- <button class="am-btn am-btn-block">开始推送</button>
                <button class="am-btn am-btn-block">停止推送</button> -->
                <button class="am-btn am-btn-block" ng-click="vm.removeCheckedExhibitions()">删除</button>
            </drop-down>
        </div>
        <div class="am-u-sm-2">
            <a class="am-btn am-btn-danger am-fr" ui-sref="exhibition-create">添加活动</a>
        </div>
    </div>

    <my-collapse class="am-panel-default" content="{{:: exhibition.content }}" ng-repeat="exhibition in vm.exhibitions track by exhibition._id">
        <ul>
            <li><input type="checkbox" ng-model="vm.exhibitions[$index]._checked"/></li>
            <li>{{:: exhibition.subject }}</li>
            <li>{{:: exhibition.content }}</li>
            <li>{{:: exhibition.createdAt }}</li>
            <li class="am-icon-sort-desc"></li>
        </ul>
    </my-collapse>

    <div class="">
        <pagination total-items="vm.query.total"
                    ng-model="vm.query.page"
                    items-per-page="vm.query.pageSize"
                    max-size="7"
                    class="pagination-sm"
                    boundary-links="true"
                    direction-links="true"
                    ng-change="vm.searchExhibitions(vm.query)"
        ></pagination>
    </div>
</div>
