<div class="col-sm-12">
    <div class="form-group text-center">
        <label class="btn btn-info" ng-click="scope.showAllBeacons()" ng-hide="scope.beacons._shown">
            <input type="checkbox" ng-checked="scope.beacons._shown"> 显示所有信标
        </label>
        <label class="btn btn-info" ng-click="scope.hideAllBeacons()" ng-show="scope.beacons._shown">
            <input type="checkbox" ng-checked="scope.beacons._shown"> 隐藏所有信标
        </label>
        <a class="btn btn-success" ui-sref="poi.beacons_new">创建信标</a>
    </div>
</div>

<div class="col-sm-12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>信标名称</th>
                <th>创建时间</th>
                <th> 操作 </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='beacon in scope.beacons'>
                <td>{{ beacon.name }}</td>
                <td>{{ beacon.createdAt | date : 'yyyy-MM-dd' }}</td>
                <td>
                    <a class="btn btn-info btn-xs" ui-sref="poi.beacons_edit({ beaconId: beacon._id })">编辑</a>
                    <!-- <button class="btn btn-danger btn-xs" ng-click="scope.removeBeacon(beacon, $index)">删除</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
