<div class="am-g exhibitor-edit">
    <ol class="am-breadcrumb ng-scope">
        <li><a class="am-text-lg am-icon-star" ui-sref="exhibitor-list">参展商管理</a></li>
        <li class="am-active">创建展商</li>
    </ol>
    <hr>

    <div class="am-margin-bottom">
        <div style="display:flex" role="form">

            <!-- <a ui-sref="exhibit-list({ exhibitorId: vm.exhibitor._id })">展品列表</a> -->
        </div>
    </div>

    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-form-group">
                <label class="col-sm-1">楼层</label>
                <div class="col-sm-4">
                    <jc-floor-dropdown floors="vm.floors" ng-model="vm.exhibitor.floor" />
                </div>
            </div>

            <div class="am-form-group">
                <label class="">展商名字</label>
                <input ng-model="vm.exhibitor.title"  placeholder="请输入标题">
            </div>

            <div class="am-form-group">
                <label>文字介绍</label>
                <textarea placeholder="输入文字介绍" rows="6" ng-model="vm.exhibitor.description"></textarea>
            </div>

            <div class="am-form-group">
                <label>图片</label>

                <div class="btn btn-primary am-margin-horizontal"
                     ngf-change="vm.uploadFile($files, vm.onPictureUploaded)" ngf-select
                     ngf-multiple="true" ngf-accept="'image/*'"
                     accept="image/*" ng-disabled="vm.exhibitor.pictures.length > 6">添加
                </div>
                <small class="text-danger">最多添加6张</small>
            </div>

            <div class="am-form-group">
                <ul class="am-avg-sm-6 am-thumbnails">
                    <li class="img-wrap" ng-repeat="picture in vm.exhibitor.pictures">
                        <span class="am-icon-times img-close" ng-click="vm.deleteNewFile(picture, $index)"
                              ng-show="picture.isNew"></span>
                        <span class="am-icon-times img-close" ng-click="vm.deleteOldFile(picture, $index)"
                              ng-hide="picture.isNew"></span>

                        <div class="img-content">
                            <div class="img am-vertical-align text-center">
                                <img class="am-vertical-align-middle" ng-src="{{ picture.fileUrl }}"/>
                            </div>
                        </div>
                        <input ng-model="vm.exhibitor.pictures[$index].description">
                    </li>
                </ul>
            </div>

            <div class="am-form-group am-text-right">
                <button class="am-btn am-btn-primary" ng-click="vm.submitExhibitor(vm.exhibitor)">提交</button>
            </div>
        </form>
    </div>

</div>
