<div class="map-container am-padding">
    <div id="map-canvas" class="map-canvas"></div>
</div>
<!-- <div class="map-toolbar text-center am-padding-bottom hidden">
    <div class="am-btn-group">
        <button type="button" class="am-btn am-btn-primary am-radius" ng-click="drawPoint()">绘制点</button>
        <button type="button" class="am-btn am-btn-primary am-radius" ng-click="drawPolygon()">绘制多边形</button>
        <button type="button" class="am-btn am-btn-primary am-radius" ng-click="removeSelected(_selectedFeature, _selectedLayer)" ng-disabled="!_selectedFeature">删除所选</button>
    </div>

</div> -->
