<div class="am-container information">

    <ol class="am-breadcrumb">
        <li><a class="am-icon-star am-active">展会资讯管理</a></li>
    </ol>
    <hr>

    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover text-center">
                <thead>
                <tr>
                    <td></td>
                    <td>
                        <drop-down title="操作" toggle="am-btn-danger">
                            <button class="am-btn am-btn-block">顶</button>
                            <button class="am-btn am-btn-block">显示</button>
                            <button class="am-btn am-btn-block">隐藏</button>
                            <button class="am-btn am-btn-block">移动到新闻</button>
                            <button class="am-btn am-btn-block">删除</button>
                        </drop-down>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="am-btn am-btn-secondary am-btn-block" ui-sref="information-create">添加资讯</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-check"><input ng-checked="scope.allChecked" ng-model="scope.allChecked"
                                                   ng-change="scope.allCheckedChange()" type="checkbox"></td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">资讯标题</button>
                    </td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">资讯摘要</button>
                    </td>
                    <td>
                        <button class="am-btn am-btn-secondary am-btn-block">编辑时间</button>
                    </td>
                    <td>
                        <drop-down title="全部状态" toggle="am-btn-secondary">
                            <button class="am-btn am-btn-block">正在显示</button>
                            <button class="am-btn am-btn-block">正在隐藏</button>
                        </drop-down>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="news in scope.newsList">
                    <td><input type="checkbox" ng-checked="news.checked" ng-model="news.checked"></td>
                    <td>{{news.subject}}</td>
                    <td>{{news.content}}</td>
                    <td>{{news.adminId}}</td>
                    <!--<td>-->
                    <!--<a href="javascript:void(0)" ng-click="scope.showModal()">浏览</a>-->
                    <!--</td>-->
                    <!--<td class="am-hide-sm-only">2012-44-12</td>-->
                    <td>
                        <div class="am-btn-toolbar">
                            <button class="am-btn am-text-danger am-btn-default am-btn-xs" style="background:#fff">
                                正在显示
                            </button>
                        </div>
                    </td>
                    <td>
                        <button class="am-btn am-text-warning am-btn-default am-btn-xs" style="background:#fff">顶
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

