<div class="am-container info">
    <div class="am-g">
        <div class="am-u-sm-12">
            <my-collapse scale="1,6,6,6,2,3" class="am-panel-transparent">
                <ul>
                    <li></li>
                    <li>
                        <drop-down title="操作" toggle="am-btn-danger">
                            <button class="am-btn am-btn-block" ng-click="vm.stickyCheckedInfo()">顶</button>
                            <button class="am-btn am-btn-block" ng-click="vm.showCheckedInfo()">显示</button>
                            <button class="am-btn am-btn-block" ng-click="vm.hideCheckedInfo()">隐藏</button>
                            <button class="am-btn am-btn-block" ng-click="vm.transferCheckedInfoToInfo()">移动到新闻</button>
                            <button class="am-btn am-btn-block" ng-click="vm.removeCheckedInfo()">删除</button>
                        </drop-down>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <a class="am-btn am-btn-secondary am-btn-block am-btn-xs" ui-sref="info-create">添加资讯</a>
                    </li>
                </ul>
            </my-collapse>
            <my-collapse scale="1,6,6,6,2,2,1" class="bg-theme">
                <ul>
                    <li>
                        <input ng-checked="vm.infoes.checked" ng-model="vm.infoes.checked"
                               ng-change="vm.toggleCheckAll(vm.infoes.checked)" type="checkbox">
                    </li>
                    <li>
                        新闻标题
                    </li>
                    <li>
                        新闻摘要
                    </li>
                    <li>
                        编辑时间
                    </li>
                    <li>
                        状态
                    </li>
                    <li>
                        置顶
                    </li>
                    <li>

                    </li>
                </ul>
            </my-collapse>
            <my-collapse scale="1,6,6,6,2,2,1" class="am-panel-default" content="{{:: info.content }}"
                         ng-repeat="info in vm.infoes | orderBy: '-sticky' | orderBy: '-stickedAt' track by info._id">
                <ul>
                    <li>
                        <input type="checkbox" ng-checked="info.checked" ng-model="info.checked">
                    </li>
                    <li>{{:: info.subject }}</li>
                    <li class="am-text-truncate">{{:: info.content}}</li>
                    <li>{{:: info.createdAt | date : 'yyyy-MM-dd HH:mm:ss' }}</li>
                    <li>
                        <button class="am-btn am-text-danger am-btn-default am-btn-xs" style="background:#fff">
                            <span ng-show="info.visible">正在显示</span>
                            <span ng-hide="info.visible">隐藏</span>
                        </button>

                    </li>
                    <li>
                        <button class="am-btn am-text-warning am-btn-default am-btn-xs" style="background:#fff"
                                ng-click="vm.stickyInfo(info)">顶
                        </button>
                    </li>
                    <li class="am-icon-sort-desc"></li>
                </ul>
            </my-collapse>

            <div class="">
                <pagination total-items="vm.query.total"
                            ng-model="vm.query.page"
                            items-per-page="vm.query.pageSize"
                            max-size="7"
                            class="pagination-sm"
                            boundary-links="true"
                            direction-links="true"
                            ng-change="vm.searchInfoes(vm.query)"
                ></pagination>
            </div>
        </div>
    </div>
</div>
