<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">意见反馈管理</h1>
    </div>

    <div class="row">
        <a class="btn btn-success btn-sm" ui-sref="feedback-category-create">创建分类</a>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-sm-4">状态</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="scope.querystring.status" ng-change="scope.fetchFeedbackCategories(scope.querystring, 0)">
                        <option value="enabled">启用</option>
                        <option value="disabled">禁用</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>分类名</th>
                    <th>注册时间</th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='feedbackCategory in scope.feedbackCategories'>
                    <td>{{ feedbackCategory.name }}</td>
                    <td>{{ feedbackCategory.createdAt | date : 'yyyy-MM-dd HH:mm' }}</td>
                    <td>
                        <button class="btn btn-warning btn-xs" ng-click="scope.disableFeedbackCategory(feedbackCategory)"
                                ng-show="!feedbackCategory.status || feedbackCategory.status === 'enabled'">禁用分类
                        </button>
                        <button class="btn btn-success btn-xs" ng-click="scope.enableFeedbackCategory(feedbackCategory)"
                                ng-show="feedbackCategory.status === 'disabled'">启用分类
                        </button>
                        <!-- <button class="btn btn-danger btn-xs" ng-click="scope.removeFeedbackCategory(feedbackCategory)">删除此分类</button> -->
                        <a ui-sref="feedback-category-edit({ feedbackCategoryId: feedbackCategory._id })" class="btn btn-info btn-xs">编辑</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
