<div class="am-container stadium-list">

    <form class="am-form am-form-horizontal">
        <div class="am-form-group">
            <div class="am-u-sm-2 text-right">
                <drop-down title="操作" toggle="am-btn-danger">
                    <button class="am-btn am-btn-block">显示</button>
                    <button class="am-btn am-btn-block">隐藏</button>
                    <button class="am-btn am-btn-block">顶</button>
                    <button class="am-btn am-btn-block">删除</button>
                </drop-down>
            </div>

            <div class="am-u-sm-5">
                <input placeholder="" type="text">
            </div>
            <div class="am-u-sm-2 am-u-end">
                <a class="am-btn am-btn-block am-btn-secondary" ui-sref="exhibit-create({ exhibitorId: vm.exhibitor._id })">添加</a>
            </div>
        </div>
    </form>

    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover text-center">
                <thead>
                    <tr>
                        <td class="table-check"><input ng-change="scope.allCheckedChange()" ng-checked="scope.allChecked" ng-model="scope.allChecked" type="checkbox"></td>
                        <td>
                            <button class="am-btn am-btn-secondary am-btn-block">名称</button>
                        </td>
                        <td>
                            <button class="am-btn am-btn-secondary am-btn-block">文字描述摘要</button>
                        </td>
                        <td>
                            <drop-down title="全部状态" toggle="am-btn-secondary">
                                <button class="am-btn am-btn-block">正在显示</button>
                                <button class="am-btn am-btn-block">正在隐藏</button>
                            </drop-down>
                        </td>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exhibit in vm.exhibits track by exhibit._id">
                        <td><input type="checkbox"></td>
                        <td>
                            <a ui-sref="exhibit-edit">{{ exhibit.name }}</a>
                        </td>
                        <td>{{ exhibit.description }}</td>
                        <td>
                            <span ng-show="exhibit.visible === 'yes'">正在显示</span>
                            <span ng-show="exhibit.visible === 'no'">正在隐藏</span>
                        </td>
                        <td>
                            <button class="am-btn am-btn-danger am-btn-xs">顶</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
