@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/amazeui/dist/css/amazeui.css';

@header-banner-height: 10%;
@left-sidebar-width: 15%;
@footer-height: 5%;

html, body {
  background-color: hsl(0, 0%, 94%);
  min-height: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  overflow:hidden;
}

input[type="text"], select{
  min-width: 170px;
}


ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table tr td {
  max-width: 200px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.am-breadcrumb > li [class*="am-icon-"]:before {
  color: #ffbe40;
}

.am-container, .container-fluid {
  // margin-top:20px;
  // margin-bottom:50px;
  margin: 2rem;
}



.am-list > li {
  background-color: transparent;
}

.bg-theme {
  background-color: rgb(66, 74, 92);
  color: #fff;
}

.am-panel-transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.am-panel-default {
  border-color: transparent;
  margin-bottom: 0;
}

.ion-thumbnail {
  height: 100px;
  width: 100px;
  position: relative;
  border: 1px solid #dddddd;
  padding: 2px;
  background-color: #fff;
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '修改';
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    z-index: 2;
    padding: 0 0.4em;
  }
}

.img-wrap {
  position: relative;
  .img-close {
    position: absolute;
    top: -9px;
    right: -1px;
    &:before {
      background-color: rgba(142, 142, 142, 0.6);;
      border-radius: 50%;
      color: #fff;
      padding: 3px 4px;
    }
    z-index: 1;
  }
  .img-content {
    width: 100%;
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
    .img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
    }
  }

  .img-content.add-btn {
    text-align: center;
    background-color: #ccc;
    background-clip: content-box;
    padding: 0 1em 0 1em;

    img{
      margin: 30%;
      width: 40%;
    }
  }
}


.page-header {
  text-align: center;
}

aside.menu-bar {
  padding: 16px;
  flex: 250px 0 0;
  background-color: hsl(222, 16%, 31%);

  .panel {
    border: none;
    position:relative;
    &:after{
      content: '';
      position: absolute;
      width: 17px;
      height: 20px;
      background-size: 17px;
      background-repeat: no-repeat;
      top: 10px;
      left: -6px;
    }

    &:first-child .panel-heading:after {
      content:'';
    }

    &:nth-child(2):after{ background-image:url('./images/nav-1-1.png')}
    &:nth-child(3):after{ background-image:url('./images/nav-2-1.png')}
    &:nth-child(4):after{ background-image:url('./images/nav-3-1.png')}
    &:nth-child(5):after{ background-image:url('./images/nav-4-1.png')}
    &:nth-child(6):after{ background-image:url('./images/nav-5-1.png')}
    &:nth-child(7):after{ background-image:url('./images/nav-6-1.png')}
    &:nth-child(8):after{ background-image:url('./images/nav-7-1.png');width: 13px;background-size: 13px;top:8px}
    &:nth-child(9):after{ background-image:url('./images/nav-8-1.png')}


    .panel-heading {
      padding-left:26px;
      background-color: #424A5C;
      position: relative;
      color: #969696;

      &:after{
        content: '\f105';
        position: absolute;
        right: 0;
        top: 6px;
      }
    }

    .accordion-toggle {
      color: #969696;
      &:hover, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    .panel-body {
      background-color: rgb(30, 31, 35);
      padding: 0;
      margin: 0 -15px;
      border:none;

      div {
        padding: 0.5em 0 0.5em 2em;
        .menu-link {
          color: #969696;

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }

      div.active {
        background: #4EBBE0;
        .menu-link {
          color: #fff;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }

  }

  .panel.panel-open {
    .panel-heading {
      color: #fff;
      &:after{
        content: '\f107';
      }
      .accordion-toggle{
        color:#fff;
      }
    }

    &:first-child .panel-heading:after {
      content:'';
    }

    &:nth-child(2):after{ background-image:url('./images/nav-1-2.png')}
    &:nth-child(3):after{ background-image:url('./images/nav-2-2.png')}
    &:nth-child(4):after{ background-image:url('./images/nav-3-2.png')}
    &:nth-child(5):after{ background-image:url('./images/nav-4-2.png')}
    &:nth-child(6):after{ background-image:url('./images/nav-5-2.png')}
    &:nth-child(7):after{ background-image:url('./images/nav-6-2.png')}
    &:nth-child(8):after{ background-image:url('./images/nav-7-2.png')}
    &:nth-child(9):after{ background-image:url('./images/nav-8-2.png')}
  }

}

.header-banner {
  margin-left: 0;
  margin-right: 0;
  height: @header-banner-height;
  background-color: hsl(207, 56%, 46%);
  font-size: 1.6em;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 0;
  }


  .logo {
    // display: block;
    // width: 50%;
    // height: auto;
  }

  .logo-title {
    // display: inline-block;
    // margin-top: 5%;
  }

  .header-title {
    // display: inline-block;
    // margin-top: 1%;
  }

  .exit-button {
    // display: inline-block;
    // margin-top: 5%;
    background-color: hsl(102, 56%, 46%);
  }
}

.content-banner{
  flex:1;
  display:flex;
  height: 90%;
}

main.hero {
  flex: 800px 1 0;
  overflow:hidden;
  overflow-y: auto;
  height: 100%;
}

input[type='color'] {
  height: 2.5em;
}
