@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/amazeui/dist/css/amazeui.css';

@header-banner-height: 10%;
@left-sidebar-width: 15%;
@footer-height: 5%;

html, body {
  overflow: hidden;
  overflow-x: hidden;;
  background-color: hsl(0, 0%, 94%);
  min-height: 100%;
  height: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table tr td {
  max-width: 200px;
}

.am-breadcrumb > li [class*="am-icon-"]:before {
  color: #ffbe40;
}

.am-container{
  // margin-top:20px;
  // margin-bottom:50px;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.am-list > li{
  background-color:transparent;
}
.bg-theme{
  background-color:rgb(66,74,92);
  color:#fff;
}
.am-panel-transparent{
  background-color:transparent;
  border:none;
  box-shadow:none;
}
.am-panel-default{border-color:transparent;  margin-bottom:0; }

.ion-thumbnail {
  height: 100px;
  width:  100px;
  position: relative;
  border: 1px solid #dddddd;
  padding: 2px;
  background-color:#fff;
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '修改';
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    z-index: 2;
    padding: 0 0.4em;
  }
}

.img-wrap {
  position: relative;
  .img-close {
    position: absolute;
    top: -9px;
    right: -1px;
    &:before {
      background-color: rgba(142, 142, 142, 0.6);;
      border-radius: 50%;
      color: #fff;
      padding: 3px 4px;
    }
    z-index: 1;
  }
  .img-content {
    width: 100%;
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
    .img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
    }
  }
}


.page-header {
  text-align: center;
}

aside.menu-bar {
  padding-top:1em;
  position: fixed;
  left: 0;
  top: @header-banner-height;
  width: @left-sidebar-width;
  background-color: hsl(222, 16%, 31%);
  min-height: 100%;

  .panel-body {
    div {
      padding: 0.5em 0;

      .menu-link {
        background-color: hsla(100, 100%, 99%, 0.85);
        color: hsla(0, 0%, 0%, 0.8);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.header-banner {
    margin-left: 0;
    margin-right: 0;
    height: @header-banner-height;
    background-color: hsl(207, 56%, 46%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.6em;
    color: hsl(0, 0%, 100%);
    display:flex;
    justify-content:center;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }

    .logo {
        // display: block;
        // width: 50%;
        // height: auto;
    }

    .logo-title {
        // display: inline-block;
        // margin-top: 5%;
    }

    .header-title {
        // display: inline-block;
        // margin-top: 1%;
    }

    .exit-button {
        // display: inline-block;
        // margin-top: 5%;
        background-color: hsl(102, 56%, 46%);
    }
}

main.hero {
    margin-top: @header-banner-height / 1.5;
  margin-left: @left-sidebar-width;
  height: 37em;
  max-width:100% - @left-sidebar-width;
  overflow: auto;
}

input[type='color']{
  height: 2.5em;
}
