<div class="am-g organizer-create" >
    <ol class="am-breadcrumb ng-scope">
        <li><a class="am-icon-star" ui-sref="organizer-custom-list">主办方自定义类型管理</a></li>
        <li class="am-active">添加自定义类型</li>
    </ol>
    <hr>

    <div class="am-u-sm-12 am-margin-bottom">
        <div class="am-form-inline" role="form">
            <div class="am-form-group">
                <label class="am-form-label">名字</label>
                <input type="text" ng-model="vm.organizerCustom.subject" class="am-form-field" placeholder="请输入标题">
            </div>
        </div>
    </div>

    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-form-group">
                <label>正文内容</label>
                <textarea placeholder="输入文字介绍" rows="12" ng-model="vm.organizerCustom.content"></textarea>
            </div>

            <div class="am-form-group">
                <label>缩略图</label>
                <div class="btn btn-primary am-margin-horizontal"
                    ngf-change="vm.uploadFile($files, vm.onThunbnailUploaded)" ngf-select
                    ngf-multiple="false" ngf-accept="'image/*'" accept="image/*"
                    ng-disabled="vm.organizerCustom.thunbnails.length >= 1">添加</div>
                <small class="text-danger">仅1张</small>
            </div>

            <div class="am-form-group">
                <ul class="am-avg-sm-6 am-thumbnails">
                    <li class="img-wrap" ng-repeat="thunbnail in vm.organizerCustom.thunbnails">
                        <span class="am-icon-times img-close" ng-click="vm.deleteNewFile(thunbnail, $index)" ng-show="thunbnail.isNew"></span>
                        <!-- <span class="am-icon-times img-close" ng-click="vm.deleteOldFile(thunbnail, $index)" ng-hide="thunbnail.isNew"></span> -->
                        <div class="img-content">
                            <div class="img am-vertical-align text-center">
                                <img class="am-vertical-align-middle" ng-src="{{ thunbnail.fileUrl }}" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="am-form-group">
                <label>图片</label>
                <div class="btn btn-primary am-margin-horizontal"
                    ngf-change="vm.uploadFile($files)" ngf-select
                    ngf-multiple="true" ngf-accept="'image/*'" accept="image/*"
                    ng-disabled="vm.organizerCustom.pictures.length >= 6">添加</div>
                <small class="text-danger">最多添加6张</small>
            </div>

            <div class="am-form-group">
                <ul class="am-avg-sm-6 am-thumbnails">
                    <li class="img-wrap" ng-repeat="picture in vm.organizerCustom.pictures">
                        <span class="am-icon-times img-close" ng-click="vm.deleteNewFile(picture, $index)" ng-show="picture.isNew"></span>
                        <!-- <span class="am-icon-times img-close" ng-click="vm.deleteOldFile(picture, $index)" ng-hide="picture.isNew"></span> -->
                        <div class="img-content">
                            <div class="img am-vertical-align text-center">
                                <img class="am-vertical-align-middle" ng-src="{{ picture.fileUrl }}" />
                            </div>
                        </div>
                        <input class="am-form-field" ng-model="vm.organizer.pictures[$index].description" placeholder="描述...">
                    </li>
                </ul>
            </div>

            <div class="am-form-group am-text-right">
                <button class="am-btn am-btn-primary" ng-click="vm.createOrganizerCustom(vm.organizerCustom)">提交</button>
            </div>
        </form>
    </div>

</div>
