<div class="col-md-12">
    <h1 class="page-header">编辑反馈分类</h1>
</div>

<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  ng-model="scope.feedbackCategory.name">
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" ng-click="scope.updateCategories(scope.feedbackCategory)">保存</button>
            <a type="button" class="btn btn-info" ui-sref="feedback-category-list">取消</a>
        </div>
    </form>
</div>
