<div class="col-sm-12">
    <div class="form-group text-center">
        <label class="btn btn-info" ng-click="scope.showAllAreas()" ng-hide="scope.areas._shown">
            <input type="checkbox" ng-checked="scope.areas._shown"> 显示所有区域
        </label>
        <label class="btn btn-info" ng-click="scope.hideAllAreas()" ng-show="scope.areas._shown">
            <input type="checkbox" ng-checked="scope.areas._shown"> 隐藏所有区域
        </label>
        <a class="btn btn-success" ui-sref="poi.area_create">创建区域</a>
    </div>
</div>

<div class="col-sm-12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>区域名称</th>
                <th>创建时间</th>
                <th> 操作 </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='area in scope.areas'>
                <td>{{ area.name }}</td>
                <td>{{ area.createdAt | date : 'yyyy-MM-dd' }}</td>
                <td>
                    <!-- <button class="btn btn-danger btn-xs" ng-click="scope.removeArea(area, $index)">删除</button> -->
                    <button class="btn btn-warning btn-xs" ng-click="scope.disableArea(area, $index)" ng-show="area.status === 'enabled'">停用</button>
                    <button class="btn btn-warning btn-xs" ng-click="scope.enableArea(area, $index)" ng-show="area.status === 'disabled'">启用</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
