<div class="col-sm-12">
    <h1 class="page-header">奖品类型管理</h1>
</div>

<div class="col-sm-12">
    <a class="btn btn-success btn-sm" ui-sref="prize_types_create">创建分类</a>
</div>

<div class="col-sm-12 form-horizontal well">
    <div class="form-group">
        <label class="col-sm-1 control-label">状态</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="vm.querystring.status" ng-change="vm.fetchPrizeTypes(vm.querystring, 0)">
                <option value="enabled">启用状态</options>
                <option value="disabled">禁用状态</options>
            </select>
        </div>

        <label class="col-sm-1 control-label">兑换</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="vm.querystring.exchangeable" ng-change="vm.fetchPrizeTypes(vm.querystring, 0)">
                <option value="__all__">--- 所有 ---</option>
                <option value="yes">可以兑换</options>
                <option value="no">不可兑换</options>
            </select>
        </div>

        <label class="col-sm-1 control-label">名称</label>
        <div class="col-sm-3">
            <input type="search" class="form-control" ng-model="vm.querystring.name" ng-change="vm.fetchPrizeTypes(vm.querystring)">
        </div>
    </div>
</div>

<div class="col-sm-12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th> 图标 </th>
                <th>奖品名称</th>
                <th>是否可以兑换</th>
                <th>兑换消耗</th>
                <th>创建时间</th>
                <th> 操作 </th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <pagination total-items="vm.querystring.total"
                                ng-model="vm.querystring.page"
                                items-per-page="vm.querystring.pageSize"
                                max-size="7"
                                class="pagination-sm"
                                boundary-links="true"
                                direction-links="true"
                                ng-change="vm.fetchPrizeTypes(vm.querystring, 0)"
                    ></pagination>
                </td>
            </tr>
        </tfoot>

        <tbody>
            <tr ng-repeat='prizeType in vm.prizeTypes track by prizeType._id'>
                <td><img class="img-responsive" style="height: 48px; width: 48px;" ng-src="/apis/prize-types/{{ prizeType._id }}/icon?bearer={{ auth.accessToken }}" alt="图标" /></td>
                <td>{{ ::prizeType.name }}</td>
                <td>
                    <span ng-show="prizeType.exchangeable === vm.EXCHANGE.EXCHANGEABLE">可以兑换</span>
                    <span ng-show="prizeType.exchangeable === vm.EXCHANGE.DISEXCHANGEABLE">不可兑换</span>
                </td>
                <td>{{ ::prizeType.exchangeCost }}</td>
                <td>{{ ::prizeType.createdAt | date : 'yyyy-MM-dd HH:mm' }}</td>
                <td>

                    <a class="btn btn-info btn-xs"  href="/prize-types/{{prizeType._id}}">编辑</a>
                    <button class="btn btn-warning btn-xs" ng-click="vm.disablePrizeType(prizeType)" ng-show="prizeType.status === 'enabled'">禁用此分类</button>
                    <button class="btn btn-info btn-xs" ng-click="vm.enablePrizeType(prizeType)" ng-show="prizeType.status === 'disabled'">启用此分类</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
