<div class="pavilion-setting">
    <div class="">
        <a ui-sref="pavilion-map.exhibition-area-list">返回</a>
        <button ng-click="vm.removeSelectedExhibitionAreas()">删除</button>
    </div>

    <div>
        <ul class="am-list am-list-static">
            <li ng-repeat="exhibitionArea in vm.exhibitionAreas track by exhibitionArea._id">
                <span>
                    <input type="checkbox" ng-model="exhibitionArea._checked"> {{ ::exhibitionArea.name }}
                </span>
            </li>
        </ul>
    </div>

    <div class="">
        <pagination total-items="vm.query.total"
                    ng-model="vm.query.page"
                    items-per-page="vm.query.pageSize"
                    max-size="3"
                    class="pagination-sm"
                    boundary-links="true"
                    direction-links="true"
                    ng-change="vm.searchExhibitionAreas(vm.query, 0)"
        ></pagination>
    </div>
</div>
