<div class="col-lg-12">
    <h1 class="page-header">编辑奖品类型</h1>
</div>

<div class="col-lg-12">
    <form class="form-horizontal" role="form" ng-submit="scope.updatePrizeType(scope.prizeTypeIcons, scope.prizeType)">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">名称</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="scope.prizeType.name">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">详情</label>

            <div class="col-sm-6">
                <textarea class="form-control" row="6" ng-model="scope.prizeType.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">图标</label>

            <div class="col-sm-6">
                <button class="btn btn-info"
                        ngf-select="true"
                        ng-model="scope.prizeTypeIcons"
                        ngf-keep="false"
                        ngf-keep-distinct="true"
                        ngf-reset-on-click="true"
                        ngf-reset-model-on-click="true">选择图标
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">图标预览</label>

            <div class="col-sm-6">
                <img style="height: 64px; width: 64px;"
                    ngf-src="scope.prizeTypeIcons[0]"
                    ngf-default-src="/common/coupon_placeholder.png"
                    ng-show="scope.prizeTypeIcons[0]">

                <img style="height: 64px; width: 64px;"
                    ng-src="/apis/prize-types/{{ scope.prizeType._id }}/icon?bearer={{ auth.accessToken }}" ng-hide="scope.prizeTypeIcons[0]">

            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">是否可以兑换</label>

            <div class="col-sm-6">
                <label class="toggle">
                    <input type="checkbox" ng-true-value="'yes'" ng-false-value="'no'" ng-model="scope.prizeType.exchangeable">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">兑换需要宝物</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="scope.prizeType.exchangeCost">
                <span class="help-block">兑换此奖品需要的宝物数量</span>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">有效期截至</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="scope.prizeType.validTo"
                    is-open="scope.calender.opened" datepicker-popup="{{ scope.calender.format }}"
                    min-date="scope.calender.minDate" max-date="scope.calender.maxDate"
                    datepicker-options="scope.calender.dateOptions"
                    ng-required="true" close-text="Close" ng-click="scope.openCalender()" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-7 text-right">
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn btn-info" ui-sref="prize_types">取消</a>
            </div>
        </div>
    </form>
</div>
