
<div class="am-container posts">
    <div class="am-g am-margin-top">
        <div class="am-u-sm-4">
            <drop-down title="操作" toggle="am-btn-danger" class="am-margin-left">
                <button class="am-btn am-btn-block" ng-click="vm.removeCheckedPosts()">删除</button>
            </drop-down>
        </div>
        <div class="am-u-sm-4">
            <input type="text" class="am-form-field"  ng-model="vm.query.subject"
            id="platform-search" placeholder="请输入主题搜索帖子"
            ng-change="vm.searchPosts(vm.query)">
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 am-margin-vertical">
            <table class="table table-striped table-hover">

                <thead>
                <tr>
                    <th class="table-check text-center">
                        <input type="checkbox" ng-model="vm.posts._checked" ng-change="vm.toggleCheckAll(vm.posts._checked)">
                    </th>
                    <th>主题</th>
                    <th class="table-id">正文</th>
                    <th>发帖时间</th>
                    <th>帖子更新时间</th>
                </tr>
                </thead>

                <tfoot class="">
                    <tr>
                        <td colspan="6">
                            <pagination total-items="vm.query.total"
                                        ng-model="vm.query.page"
                                        items-per-page="vm.query.pageSize"
                                        max-size="7"
                                        class="pagination-sm"
                                        boundary-links="true"
                                        direction-links="true"
                                        ng-change="vm.searchPosts(vm.query, 0)"
                            ></pagination>
                        </td>
                    </tr>
                </tfoot>

                <tbody>

                <tr ng-repeat="post in vm.posts track by post._id">
                    <td class="text-center">
                        <input type="checkbox" ng-model="vm.posts[$index]._checked">
                    </td>
                    <td>
                        <a ui-sref="post-detail({ postId: post._id })">
                            {{:: post.subject}}
                        </a>
                    </td>
                    <td class="am-text-truncate">{{:: post.content}}</td>
                    <td class="am-hide-sm-only">{{:: post.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="am-hide-sm-only">{{:: post.updatedAt | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
