<div class="col-md-12">
  <h1 class="page-header">新增寻宝活动 </h1>
</div>

<div class="col-md-12">
    <a class="btn btn-info" ui-sref="treasure_game_map_list">设置寻宝区</a>
</div>

<div class="col-md-12">
    <form class="form-horizontal" role="form" ng-submit="vm.setupGame(vm.game)">
        <h2 class="text-center">活动基本信息</h2>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动名称</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="vm.game.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动介绍</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="vm.game.description"></textarea>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="col-sm-3 control-label">活动开关</label>
            <div class="col-sm-6">
                <label class="toggle">
                    <input type="checkbox" ng-model="vm.game.offswitch">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div> -->

        <div class="form-group">
            <label class="col-sm-3 control-label">每日海螺总产出数量</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="vm.game.maxTreasures" />
                <span class="help-block">每日海螺产出的上限</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">寻获海螺的几率</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="vm.game.lucky" />
                <span class="help-block">单次寻宝寻获海螺的几率</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">单人最大寻获海螺数量</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="vm.game.treasuresPerTourist" />
                <span class="help-block">每位游客在此次活动中最多可以寻获的海螺数量</span>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">创建新游戏</button>
            <a class="btn btn-info" ui-sref="treasury-game-list">返回</a>
        </div>
    </form>
</div>
