<div class="col-sm-12">
    <div class="form-group text-center">
        <a ui-sref="poi.areas" class="btn btn-info">返回列表</a>
    </div>
</div>

<div class="col-sm-12">
    <form class="form-horizontal" ng-submit="scope.createArea(scope.area)">
        <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="scope.area.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">GeoData</label>
            <div class="col-sm-9">
                <input class="form-control" ng-model="scope.area.geoDataString">
                <span class="help-block">请用鼠标在地图上点击绘制多边形，点击右键或双击左键结束绘制</span>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">创建</button>
            <a ui-sref="poi.areas" class="btn btn-info">取消</a>
        </div>
    </form>
</div>
