<div class="text-center">
    <jc-emei-floors-button-group ngModel="vm.floor" on-floor-change="vm.onFloorChange"></jc-emei-floors-button-group>
</div>

<div class="row">
    <div class="col-sm-2">
        人数：{{ vm.heats.length || 0 }}
    </div>

    <div class="col-sm-7">
        时间：
        <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.year" style="max-width: 4em;">年
        <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.month" style="max-width: 2em;">月
        <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.day" style="max-width: 2em;">日
        <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.hour" style="max-width: 2em;">时
        <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.minute" style="max-width: 2em;">分
        <!-- <input ng-focus="vm.stopDateSettingTimer()" ng-model="vm.time.second" style="max-width: 2em;">分 -->
    </div>

    <div class="col-sm-3">
        <button ng-click="vm.showCurrentData()">实时数据</button>
    </div>
</div>

<div id="heatmapContainer" ng-style="vm.containerStyle">

</div>

<!-- <jcmap-profile jc-obj-id="{{ vm.floor.JCObjId }}" jc-obj-mask="{{ vm.floor.JCObjMask }}">
    <jcmap-layer-tile jc-layer-name="base">
        <jcmap-feature-base jc-obj-id="{{ vm.floor.JCObjId }}" jc-obj-mask="{{ vm.floor.JCObjMask }}" jc-layer-name="base" />
    </jcmap-layer-tile>
</jcmap-profile> -->
