<div class="container-fluid">
    <div class="text-center">
        <jc-emei-floors-button-group ngModel="vm.floor" on-floor-change="vm.onFloorChange"></jc-emei-floors-button-group>
    </div>

    <div class="row am-margin-vertical">
        <div class="col-sm-2">
            人数：{{ vm.heats.length || 0 }}
        </div>

        <div class="col-sm-7">
            时间：
            <input ng-model="vm.rawClock" ng-keypress="vm.stopClock()" style="max-width: 10em;">

            <button class="btn btn-sm btn-primary am-margin-left" ng-click="vm.showHistoryData()">获取</button>
            <button class="btn btn-sm btn-primary am-margin-left" ng-click="vm.showCurrentData()">现在</button>
        </div>

        <div class="col-sm-3">
          <div class="color-container">
            <div class="color-label">
              <span>标尺：</span>
            </div>
            <div class="">
                少
            </div>
            <div class="color-graph">
              <div class="color-scale"> </div>
              <div class="color-stops hidden">
                <span>0</span>
                <span>{{ vm.maxValue * 0.25 || 0 }}</span>
                <span>{{ vm.maxValue * 0.5 || 0 }}</span>
                <span>{{ vm.maxValue * 0.75 || 0 }}</span>
                <span>{{ vm.maxValue || 0 }}</span>
              </div>
            </div>
            <div class="">
                多
            </div>
          </div>
        </div>
    </div>

    <div id="heatmapContainer" ng-style="vm.containerStyle">

    </div>
</div>



<!-- <jcmap-profile jc-obj-id="{{ vm.floor.JCObjId }}" jc-obj-mask="{{ vm.floor.JCObjMask }}">
    <jcmap-layer-tile jc-layer-name="base">
        <jcmap-feature-base jc-obj-id="{{ vm.floor.JCObjId }}" jc-obj-mask="{{ vm.floor.JCObjMask }}" jc-layer-name="base" />
    </jcmap-layer-tile>
</jcmap-profile> -->
