<div class="am-container pageStructure-setting">
    <div class="am-g">
        <h1 class="page-header">首页版块名字修改</h1>
    </div>
    <div class="am-g">
        <div class="am-u-sm-7 am-u-sm-centered am-margin-bottom">
            <div class="am-form-horizontal" role="form">
                <div class="am-form-group am-form-horizontal">
                    <label class="am-form-label am-u-sm-3">板块1</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part1" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label am-u-sm-3">板块2</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part2" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label am-u-sm-3">板块3</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part3" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label am-u-sm-3">板块4</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part4" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label am-u-sm-3">板块5</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part5" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-form-label am-u-sm-3">板块6</label>
                    <div class="am-u-sm-9">
                        <input class="am-form-field" ng-model="vm.pageStructure.part6" placeholder="请输入标题" type="text">
                    </div>
                </div>

                <div class="am-form-group ">
                    <div class="am-u-sm-3 pull-right">
                        <button class="btn btn-danger am-btn-block" ng-click="vm.setPageStructure(vm.pageStructure)"
                                type="button">保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
