<div class="container-fluid exhibition-hall">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <select ng-model="vm.map" ng-options="map as map.JCProjectName for map in vm.maps" ng-change="vm.fetchMap(vm.map)">
                </select>
            </div>

            <div class="col-sm-12" ui-view> </div>
            <button ng-click="vm.clearPolygons()" class="am-btn am-btn-default">清除信标</button>
            <div>
                {{vm.positionStr}}
            </div>
        </div>

        <div class="col-sm-9 col-map">
            <div exhibition-hall-map id="mapContainer" class="map-container">
                <canvas id="mapCanvas" width="3948" height="3000"></canvas>
            </div>
        </div>
    </div>
</div>
